<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let post of posts$ | async; let i = index">
      <ion-label class="ion-text-wrap" [routerLink]="['/post', post.name]">{{post.name}} contains: {{post.calories}}</ion-label>
    </ion-item>
  </ion-list> 
  <ion-button (click)="getHistory()" expand="block" fill="outline">Refresh history</ion-button> 
</ion-content>
