<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">History</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getHistory()" expand="block" fill="outline">Refresh history</ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let post of posts$ | async; let i = index">
      <ion-label class="ion-text-wrap" [routerLink]="['/post', post.name]">{{post.serving_size_g}}g of {{post.name}} contain: {{post.calories}} calories</ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
