<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">How to use this APP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: large;" class="ion-text-wrap">You can search for single, or multiple foods.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: large;" class="ion-text-wrap">You can add weight to your search with specifying unit of measurment before each food.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: large;" class="ion-text-wrap">You can click on search result to show you more details about food nutrition</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: large;" class="ion-text-wrap">You can use history to look through your latest searches, and look at its details too!</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size: large;" class="ion-text-wrap">Newest searches will be added to your history by clicking on Refresh History button.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
